
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden; /* Elimina cualquier scroll */
}

.container {
    display: flex;
    height: 100vh;

}


.sidebar {
    background-color: #d32f2f;
    color: white;
    width: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    height: fit-content;
    border-top-left-radius: 70px;

}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #b71c1c;
}



.main {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

.main1 {
    padding: 20px;
}



.header {
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    text-align: center;

    margin-bottom: 5px;
    border-bottom-right-radius: 70px;
    flex-direction: column;
    height: 70px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons button {
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #333;
}

.sidebar img {
    width: 70px;

    margin-top: 10px;
    margin-bottom: 50px;
}