
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    display: inline-block;
    overflow: hidden; /* Para evitar que la imagen ampliada sobresalga */
    border-radius: 8px; /* Opcional: bordes redondeados */
}

.image-container img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease; 
}

.image-container:hover img {
    transform: scale(1.9);
}

.sidebar img {
    width: 70px;

    margin-top: 10px;
    margin-bottom: 50px;
}